.container { 
   
    width: 95%; 
    height:100%px; 
    border:2px solid #ccc; 
    padding: 50px; 
}

.menu {
    height: 30px;
   
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    display: -moz-box;
    -moz-box-orient: horizontal;
    display: box;
    box-orient: horizontal;

    text-align: center; 
   
    color: #575757; 
    font: 16px Arial,Helvetica,sans-serif;
    background-color: #f5f5f5;
    width: 100%;
}



body {
   
    text-align: center; 
    padding: 20px; 
    color: #575757; 
    font: 14px/21px Arial,Helvetica,sans-serif;
}
 
a {
    color: #B93F14;
}
 
a:hover {
    text-decoration: none;
}
 
ol {
    width: 600px; 
    text-align: left; 
    margin: 15px auto
}

canvas {
	border: 1px solid black;
	cursor: none;
}

.note {
    background-color: rgb(255,240,70);
    height: 120px;
    padding: 5px;
    position:absolute;
    width:120px;
    -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
     border:2px solid #000000; 
}

.note h1 {
    text-align: center;
    font: 16px Arial,Helvetica,sans-serif;
    color: #000000;
    background-color: #fcfad7;
}

.note p {
    text-align: center;
    font: 14px Arial,Helvetica,sans-serif;
    color: #000000;
    background-color: #fcfad7;
}

.note footer {
    position: absolute;
    bottom: 0;
    right: 0;
 

    font: 10px Arial,Helvetica,sans-serif;
    color: #000000;
    background-color: #fcfad7;
}

#coords {
    background: #ffffff;  
    text-align: center; 
    padding: 20px; 
    color: #575757; 
    font: 14px/21px Arial,Helvetica,sans-serif;
}

.box {
   
    height: 600px;
    width: 100%;
    border: 1px solid #555;
    font: 14px Arial;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    display: -moz-box;
    -moz-box-orient: horizontal;
    display: box;
    box-orient: horizontal;


}

.box #todo {
        width: 300px;

     border: 1px solid #555;

}

.box #inprogress {
    
    width: 300px;
     border: 1px solid #555;

}

.box #done {
    
     width: 300px;
     border: 1px solid #555;

}

.boxheaders {
   
    height: 60px;
    width: 100%;
   
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    display: -moz-box;
    -moz-box-orient: horizontal;
    display: box;
    box-orient: horizontal;

    text-align: center; 
   
    color: #575757; 
    font: 16px Arial,Helvetica,sans-serif;
   
    


}

.boxheaders #todo {
   
     width: 300px;
     border: 1px solid #555;
     background-color: #79bd92;
      border: 1px solid #555;
}

.boxheaders #inprogress {
    
     width: 300px;
     border: 1px solid #555;
     background-color: #93eaeb;
      border: 1px solid #555;
}

.boxheaders #done {
 
     width: 300px;
     border: 1px solid #555;
     background-color: #eca478;
      border: 1px solid #555;
}


.boxheaders > div h1 {

   text-align: center;
}



