.container { 
   
    width: 95%; 
    height:600px; 
    border:2px solid #ccc; 
    padding: 10px; }

body {
    width: 95%; 
    text-align: center; 
    padding: 20px; 
    color: #575757; 
    font: 14px/21px Arial,Helvetica,sans-serif;
}
 
a {
    color: #B93F14;
}
 
a:hover {
    text-decoration: none;
}
 
ol {
    width: 600px; 
    text-align: left; 
    margin: 15px auto
}

canvas {
	border: 1px solid black;
	cursor: none;
}

.note {
    background-color: rgb(255,240,70);
    height: 100px;
    padding: 5px;
    position:absolute;
    width:80px;
    -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
}

#coords {
    background: #ffffff;  
    text-align: center; 
    padding: 20px; 
    color: #575757; 
    font: 14px/21px Arial,Helvetica,sans-serif;
}

.box {
   
    height: 600px;
    border: 1px solid #555;
    font: 14px Arial;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    display: -moz-box;
    -moz-box-orient: horizontal;
    display: box;
    box-orient: horizontal;


}

.box #todo {
        width: 33%;

     border: 1px solid #555;

}

.box #inprogress {
    
    width: 33%;width: 33%;
     border: 1px solid #555;

}

.box #done {
    
    width: 34%;
     border: 1px solid #555;

}

.boxheaders {
   
    height: 60px;
    border: 1px solid #555;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    display: -moz-box;
    -moz-box-orient: horizontal;
    display: box;
    box-orient: horizontal;

    text-align: center; 
   
    color: #575757; 
    font: 16px Arial,Helvetica,sans-serif;
    background-color: #c6c6c6;
    


}

.boxheaders #todo {
   
    width: 33%;
     border: 1px solid #555;

}

.boxheaders #inprogress {
    
    width: 33%;
     border: 1px solid #555;

}

.boxheaders #done {
 
    width: 34%;
     border: 1px solid #555;

}


.boxheaders > div h1 {
    
   
}



